body {

color: black;

background-color: transparent;
font: 12px Arial,Helvetica,Verdana,sans-serif;
font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

}

.captcha{
    border-style: solid;
    border-color: green;
    width: 250px;
}
.invalidField{
	color:red;
}


